@import '../../styles/partials/variables';

#project {
  text-align: left;
  margin: 3rem;
  h1 {
    font-size: 2rem;
    border-bottom: 2px solid rgba($color-3, 0.8);
    color: $color-1;
    width: 60%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  #createBtn {
    margin: auto;
  }
}
