@import '../../styles/partials/variables';

nav {
  width: 100%;
  border-bottom: 1px solid rgba($color: $color-1, $alpha: 0.2);
  padding: 0 auto;
  font-size: 1.2rem;
  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 1.5rem;
    li {
      display: inline-block;
      align-items: center;
      margin: 0 1rem;
      a {
        text-decoration: none;
        display: block;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        display: inline;
        padding-bottom: 1rem;
        color: rgba($black, $alpha: 0.7);
      }
      a:hover {
        border-bottom-color: $color-1;
        transition: all 0.5s;
        color: $black;
      }
      .active {
        border-bottom-color: $color-1;
        transition: all 0.5s;
        color: $black;
      }
      .icon {
        cursor: pointer;
      }
    }
  }
}
